@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --background: #8ad7f5;
  --border: 3px solid #8ad7f5;
  --color1: #000;
  --color2: #fff;
  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  --hover: #61b4d4;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  color: #444;
  font-size: 2rem;
  text-align: center;
  font-family: "Pacifico", sans-serif;
}

.border {
  border-bottom: 2px solid black;
  margin: 0 15%;
  align-items: center;
  justify-content: center;
}

#hamburger {
  display: none;
}

/* header */

header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: sticky;
  z-index: 1000;
  background: var(--background);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

header nav .logo {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

header nav .logo img {
  width: 50px;
}

header nav .logo a {
  color: var(--color1);
  font-size: 1.5rem;
  font-weight: 600;
}

header nav .nav-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header nav .nav-content a {
  color: var(--color1);
  font-weight: 400;
  font-size: 1.3rem;
}

header nav .nav-content a:hover {
  color: var(--color2);
}

/* hero */

.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero .hero-content {
  text-align: left;
  width: 50%;
}

.hero .hero-content h1 {
  font-size: 3.5em;
  line-height: 1.4;
  color: var(--color1);
}

.hero .hero-content p {
  color: #444;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.hero .hero-content .btn-content {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.hero .hero-content .btn-content #pesan {
  border: var(--border);
  background: #fff;
  color: var(--color1);
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: bolder;
}

.hero .hero-content .btn-content a {
  background: var(--background);
  padding: 0.5rem 2rem;
  color: var(--color2);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: bolder;
  border: var(--border);
}

.hero .hero-content .btn-content #pesan:hover {
  background: var(--hover);
  color: var(--color2);
  transition: 0.5s;
}

.hero .hero-content .btn-content a:hover {
  background: var(--hover);
  transition: 0.5s;
}

.hero .hero-img img {
  border-radius: 0.5rem;
  width: 400px;
  box-shadow: var(--shadow);
}

/* category */
.category {
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category .category-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  text-align: center;
  padding: 0 15%;
}

.category .category-container .category-content img {
  background: var(--background);
  border-radius: 50%;
  padding: 1rem;
  width: 90px;
}

.category .category-container .category-content p {
  font-size: 1.2rem;
  color: var(--color1);
}

.category .category-container .category-content img:hover {
  background: var(--hover);
}

/* tentang */
.tentang .about-container {
  align-items: center;
  padding: 5rem 4rem 0;
  position: relative;
  flex-wrap: wrap;
}

.tentang .about-container .about-content {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 3rem;
}

.tentang .about-container .about-content img {
  width: 400px;
}

.tentang .about-container .about-content .text {
  width: 50%;
  border: 3px solid #444;
}

.tentang .about-container .about-content .text p {
  color: var(--color1);
  padding: 2rem;
  font-size: 1.2rem;
  text-align: left;
}

/* jasa */
.jasa .service-container {
  padding: 5rem 4rem 0;
  position: relative;
}

.jasa .service-container .service-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  margin-top: 3rem;
}

.jasa .service-container .service-content {
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.jasa .service-container .service-content img {
  width: 100%;
}

.jasa .service-container .service-content h3 {
  font-size: 1.5rem;
}

.jasa .service-container .service-content p {
  padding: 1rem 2rem;
  color: var(--color1);
  text-align: left;
  font-size: 1.2rem;
}

/* proses */
.proses .proses-container {
  padding: 5rem 4rem 0;
  position: relative;
  flex-wrap: wrap;
}

.proses .proses-container .proses-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-top: 3rem;
  padding: 0 5%;
}

.proses .proses-container .proses-box .proses-content {
  text-align: center;
  padding: 2rem 0;
}

.proses .proses-container .proses-box .proses-content img {
  background: var(--hover);
  border-radius: 2rem;
  width: 150px;
  padding: 2rem;
}

.proses .proses-container .proses-box .proses-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.proses .btn-proses {
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.proses .btn-proses a {
  background-color: var(--background);
  color: var(--color2);
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.5rem 2rem;
  border: var(--border);
  border-radius: 0.5rem;
}

/* contact */
.kontak .contact-container {
  padding: 5rem 4rem 0;
  position: relative;
}

.kontak .contact-container .contact-box {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
  flex-wrap: wrap;
}

.kontak .contact-container .contact-box .contact-sosmed {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.kontak .contact-container .contact-box .contact-sosmed img {
  width: 50px;
}

.kontak .contact-container .contact-box .maps {
  margin-top: 2rem;
}

.kontak .contact-container .contact-box .maps iframe {
  box-shadow: var(--shadow);
}

/* footer */
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  margin-top: 5rem;
}

.footer .footer-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  flex-wrap: wrap;
}

.footer .footer-container .footer-title {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer .footer-container .footer-title img {
  width: 50px;
}

.footer .footer-container .footer-title h3 {
  font-size: 2rem;
}

.footer .footer-container .footer-content a {
  color: var(--color1);
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.footer .footer-container .footer-content a:hover {
  color: var(--color2);
}

.footer .footer-container p {
  font-size: 1rem;
  padding: 1rem;
}

.footer .footer-container .copyright p {
  font-size: 1rem;
  background: var(--hover);
  color: var(--color2);
  padding: 0.5rem;
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 85.5%;
  }

  .hero {
    flex-wrap: wrap;
    padding: 0 1rem;
    justify-content: center;
  }

  .hero .hero-img img {
    width: 350px;
  }

  .category .category-container {
    flex-wrap: wrap;
  }

  .tentang .about-container .about-content img {
    width: 350px;
  }

  .tentang .about-container .about-content .text {
    width: 40%;
  }

  .proses .proses-container .proses-box .proses-content img {
    width: 100px;
  }

  .kontak .contact-container .contact-box .maps iframe {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 798px) {
  html {
    font-size: 65.5%;
  }

  .hero .hero-img img {
    width: 250px;
  }

  .category .category-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .category .category-container .category-content {
    padding: 0 1rem;
  }

  .category .category-container .category-content img {
    width: 70px;
  }

  .tentang .about-container .about-content img {
    width: 300px;
  }

  .proses .proses-container .proses-box .proses-content img {
    width: 70px;
  }

  .kontak .contact-container .contact-box .contact-sosmed img {
    width: 30px;
  }

  .kontak .contact-container .contact-box .maps iframe {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 522px) {
  html {
    font-size: 60%;
  }

  header nav {
    display: block;
    padding: 0;
  }

  header nav .logo {
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0;
  }

  header nav .nav-content {
    justify-content: center;
    text-align: center;
    background: var(--hover);
  }

  header nav .nav-content a {
    color: var(--color2);
  }

  .hero .hero-content {
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
  }
  .hero .hero-content .btn-content {
    align-items: center;
    justify-content: center;
  }

  .hero .hero-img img {
    width: 200px;
  }

  .border {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .category .category-container .category-content img {
    width: 50px;
  }

  .tentang .about-container .about-content {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tentang .about-container .about-content img {
    width: 250px;
  }

  .tentang .about-container .about-content .text {
    width: 100%;
    margin-top: 2rem;
  }

  .jasa .service-container .service-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
  }

  .jasa .service-container .service-box .service-content {
    margin-bottom: 4rem;
  }

  .proses .proses-container .proses-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }

  .proses .proses-container .proses-box .proses-content img {
    width: 50px;
    padding: 1rem;
  }

  .kontak .contact-container .contact-box .maps iframe {
    width: 350px;
    height: 200px;
  }
}

@media (max-width: 385px) {
  html {
    font-size: 55%;
  }

  .border {
    margin-top: 4rem;
  }

  .kontak .contact-container .contact-box .maps iframe {
    width: 250px;
    height: 150px;
  }
}
